<h2>Spell a New Chord</h2>

<%= form_for @chord do |f| %>
<%= select_tag :letter, options_for_select @letters.map {|ltr| [ltr, ltr]} %>
<%= select_tag :accidental, options_for_select @accidentals.map {|acd| [acd, acd] } %>
<%= f.submit :class => "embiggen-form"  %>
<%end%>
