<h2>Create a New Chord</h2>
<p>
<%= form_for @chord do |f| %>

  <% notes_array = Note.tones.map { |note| [ note, note ] } %>
  <%= f.select( :root_note, options_for_select(notes_array)) %>

  <% chord_qualities_for_select = Chord.schemata.keys.map { |schema| [ schema, schema ] } %>
  <%= f.select( :quality, options_for_select(chord_qualities_for_select) ) %>

  <%= f.submit %>
<%end%>
</p>
