/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(155, 155, 155);
}

a:active {
  color: rgb(255, 205, 0);
}

a:hover {
  color: rgb(255, 255, 150);
}

select, input {
  font-family: Fondamento, monospace;
  background-color: black;
  color:white;
}

input {

}

 p, div, span, nav, header, h2, h4, form {
   text-align: center;
   font-family: Fondamento, monospace;
   font-size: 200%;
 }

 p, div, span, nav, header {
   font-size: 18px;
 }

 .delete {
   font-size: 80%;
 }

 .embiggen {
   font-size: 110%;
   font-style: italic;
 }
